*,
:before,
:after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font: 18px system-ui;
  max-width: 25em;
  margin: 2rem auto;
  padding: 0 1rem;
  background: #fafafa;
}

fieldset {
  border: 0;
  appearance: none;
}

legend {
  font-weight: 600;
}

label {
  display: block;
}

.vh {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
